.header-container {
    background: #DC0A2D;
    height: 110px;
    display: flex;
    color: white;
}

.header-content {
    display: flex;
    align-items: baseline;
    /* margin: 0px 0px 0px 16px; */
}

.header-logo {
    width: 24px;
    height: 24px;
}

.header-title {
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
    align-self: baseline;
}