*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 10px;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #1D1D1D;
  background-color: #EFEFEF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --background-color-header: #DC0A2D;

  --grayscale-dark: #212121;
  --grayscale-medium:#666666;
  --grayscale-light: #E0E0E0;
  --grayscale-white: #FFFFFF;

} 

body {
  margin: 0;
  padding: 0;
  background: #DC0A2D;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}